body {
    background-color: #FEFEFB;
    color: #000000;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    position: relative;
}

p {
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
}


h1 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
}

h2 {
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
}

h4 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
}

h5 {
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
}

h6 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 8px;
}

/* signature */
.signature-max {
    max-width: 250px;
}

.textOnImage {
    position: absolute;
    top: 153%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.textBelowSignature {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg {
    width: 320px;
    height: 100%;
}

/* intro */
.btn {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    text-decoration: none;
    background-color: #000000;
    border-radius: 0px;
    padding: 0px 16px 0px 16px;
}

.btn-outline-dark {
    border-width: 0.5px;
}

.btn:hover {
    background-color: #9B0000;
}

.btn-outline-dark:hover {
    border-color: #9B0000;
}

/* navbar */

.nav {
    background-color: #FEFEFB;
    width: 100%;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
    /* margin:auto; */
}

.move-nav-bottom {
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    color: #000000;
}

.nav-link:hover {
    color: #9B0000;
    transition: 0.5s;
}


/* web */

.vid-dk-width {
    /* max-width: 770px; */
    /* max-height: 560px; */
}

/* .vid-mb-width {
    max-width: 220px;
    height:auto;
} */

.vid-dk-width {
    max-width: 770px;
    height: auto;
}

/* cards home*/
.card {
    background-color: #FEFEFB;
    border-radius: 0px;
    border: 0px;


}

.card-hover-home:hover {
    color: #9B0000;
    transition: 0.5s;
}

.card-hover-home img {
    opacity: 1;
    transition: .5s ease;
}

.card-hover-home:hover img {
    opacity: 0.5;
    transition: .5s ease;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
}

.card-hover-home video {
    opacity: 1;
    transition: .5s ease;
}

.card-hover-home:hover video {
    opacity: 0.5;
    transition: .5s ease;
}


/* .card-hover-home:hover .card-img{
    opacity: 0.5;
    transition: .5s ease;
} */


/* .container-hover {
    opacity: 1;

}

.container-hover:hover {
    opacity: 50%;
    transition: opacity 0.3s ease;
} */

.card-img-top {
    background-color: #FEFEFB;
    border-radius: 0px;

}


/* cards about*/

.card-max-about {
    max-width: 295px;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.card-max-oas {
    /* max-width: 110px;
    max-height: 100%; */
    /* margin-right: auto;
    margin-left: auto; */
}

/* cards web examples */

.card-max-web {
    margin-right: auto;
    margin-left: auto;
}


.bg-landing {
    background-color: #FEFEFB;
    position: relative;
}

/* .card {
    min-height: 10rem;
  } */

.col-style {
    padding-top: 30vh;
    /* position:relative; */
}

/* .overlap-text{
    position: absolute;
    top:100px;
} */

footer {
    padding-bottom: 120px;
    padding-top: 40px;
    background-color: #FEFEFB;
    color: 000000;


}

footer ul li a {
    color: #000000;
    font-size: 20px;
}

footer ul li a:hover {
    color: #9B0000;
    transition: 0.5s;
}

footer ul {
    padding-right: 8px;
    margin-bottom: 4px;
}

.padding-copyright {
    padding-right: 15px;
}

.icons-container {
    /* max-width: 100px; */
}

.fa-arrow-left {
    color: black;
}

.fa-arrow-left:hover {
    color: #9B0000;
    transition: 0.5s;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
}

/* script header text */
.path1 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash 4s cubic-bezier(0.6, 0.2, 0.5, 0.6) forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash2 4s cubic-bezier(0.6, 0.2, 0.5, 1) forwards 1.8s;
}

@keyframes dash2 {
    to {
        stroke-dashoffset: 0;
    }
}

.path3 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash3 4s cubic-bezier(0.6, 0.2, 0.5, 1) forwards 1.5s;
}

@keyframes dash3 {
    to {
        stroke-dashoffset: 0;
    }
}

.path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash4 4s cubic-bezier(0.6, 0.2, 0.5, 1) forwards 1.6s;
}

@keyframes dash4 {
    to {
        stroke-dashoffset: 0;
    }
}



/* media queries */

@media (min-width: 1650px) {
    .card-max-about {
        max-width: 400px;
    }
}


@media (min-width: 992px) {
    .max-left {
        max-width: 195px;
    }

    .card-max-about {
        margin-right: 50px;
        margin-left: 0px;
    }


}

@media (min-width: 768px) {
    footer ul li a {
        font-size: 15px;
    }

    /* .card-max-about {
        margin-right: 30px;
    } */



}

@media (min-width: 576px) {
    .nav {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .move-nav-bottom {
        position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    footer {
        padding-bottom: 20px;
    }

    footer ul li a {
        font-size: 30px;
    }

    .max-w-intro {
        max-width: 500px;
    }

    nav .nav-link {
        font-size: 12px;
    }

    h1 {
        font-weight: 600;
        font-family: "Outfit", sans-serif;
        font-size: 26px;
    }


    h3 {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    .card-max-about {
        margin-right: 30px;
        margin-left: 0px;
    }

    .card-max-web {
        margin-right: 10px;
        margin-left: 0px;
    }

}

@media (min-width: 500px) {
    svg {
        width: 450px;
        height: 100%;
    }

    .textOnImage {
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}