body {
    background-color: #FEFEFB;
    color: #000000;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
    position: relative;
}

p {
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}


h1 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
}

h2 {
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}

h4 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}

h5 {
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}

h6 {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 8px;
}

/* signature */
.signature-max {
    max-width: 250px;
}

/* intro */
.btn {
    color: black;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    text-decoration: none;
    background-color: #FEFEFB;
    border-radius: 0px;
    padding: 0px 16px 0px 16px;
}

.btn-outline-dark {
    border-width: 0.5px;
}

/* navbar */

.nav {
    background-color: #FEFEFB;
    width: 100%;
    /* margin:auto; */
}

.move-nav-bottom {
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.nav-link {
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
    color: #000000;
}

.nav-link:hover {
    color: #757570;
    transition: 0.5s;
}


/* web */

.vid-dk-width {
    /* max-width: 770px; */
    /* max-height: 560px; */
}

/* .vid-mb-width {
    max-width: 220px;
    height:auto;
} */

.vid-dk-width {
    max-width: 770px;
    height: auto;
}

/* cards home*/
.card {
    background-color: #FEFEFB;
    border-radius: 0px;
    border: 0px;


}

.card-img-top {
    background-color: #FEFEFB;
    border-radius: 0px;

}


/* cards about*/

.card-max-about {
    max-width: 295px;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.card-max-oas {
    /* max-width: 110px;
    max-height: 100%; */
    /* margin-right: auto;
    margin-left: auto; */
}

/* cards web examples */

.card-max-web {
    margin-right: auto;
    margin-left: auto;
}


.bg-landing {
    background-color: #FEFEFB;
    position: relative;
}

/* .card {
    min-height: 10rem;
  } */

.col-style {
    padding-top: 20vh;
    /* position:relative; */
}

/* .overlap-text{
    position: absolute;
    top:100px;
} */

footer {
    padding-bottom: 120px;
    padding-top: 40px;
    background-color: #FEFEFB;
    color: 000000;

}

footer ul li a {
    color: #000000;
    font-size: 20px;
}

footer ul li a:hover {
    color: #5f5f5f;
    transition: 0.5s;
}

footer ul {
    padding-right: 8px;
    margin-bottom: 4px;
}

.padding-copyright {
    padding-right: 15px;
}

.icons-container {
    /* max-width: 100px; */
}

.fa-arrow-left{
    color: black;
}

.fa-arrow-left:hover {
    color: #5f5f5f;
    transition: 0.5s;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
}

/* script header text */
.path1 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash 4s cubic-bezier(0.6, 0.2, 0.5, 0.6) forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash2 4s cubic-bezier(0.6, 0.2, 0.5, 1) forwards 1.8s;
}

@keyframes dash2 {
    to {
        stroke-dashoffset: 0;
    }
}

.path3 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash3 4s cubic-bezier(0.6, 0.2, 0.5, 1) forwards 1.5s;
}

@keyframes dash3 {
    to {
        stroke-dashoffset: 0;
    }
}

.path4 {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash4 4s cubic-bezier(0.6, 0.2, 0.5, 1) forwards 1.6s;
}

@keyframes dash4 {
    to {
        stroke-dashoffset: 0;
    }
}


/* .textOnImage{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .textBelowSignature{
    position:absolute;
    top: 225%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



/* media queries */
@media (min-width: 992px) {
    .max-left {
        max-width: 195px;
    }

    .card-max-about {
        margin-right: 50px;
        margin-left: 0px;
    }


}

@media (min-width: 768px) {
    footer ul li a {
        font-size: 15px;
    }

    /* .card-max-about {
        margin-right: 30px;
    } */



}

@media (min-width: 576px) {
    .move-nav-bottom {
        position: relative;
    }

    footer {
        padding-bottom: 20px;
    }

    footer ul li a {
        font-size: 30px;
    }

    .max-w-intro {
        max-width: 500px;
    }

    nav .nav-link {
        font-size: 12px;
    }

    h1 {
        font-weight: 600;
        font-family: "Outfit", sans-serif;
        font-size: 26px;
    }


    h3 {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    .card-max-about {
        margin-right: 30px;
        margin-left: 0px;
    }

    .card-max-web {
        margin-right: 10px;
        margin-left: 0px;
    }

}